</div>
</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Takaisin ylös</a>
        </p>
        <p class="mb-1">Juhan Kuva- ja viestipalvelu. Lisää, kommentoi ja tykkää. Ilmainen, nyt ja aina!
            Parempi kuin Instagram tai Twitter!
        </p>
    </div>
</footer>
</body>

</html>